

<!DOCTYPE html>
<html>
  <head>
    <title>Gumroad gumball guide to work life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>

    <meta property="og:title" content="Gumroad gumball guide to work life" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= request.protocol + request.host_with_port + '/images/gumballwork.png' %>" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
